@page "/animaloverview"

@using model = AnimalShelter.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject HttpClient Http


<h3>Animals</h3>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">


    @foreach (var animal in AnimalsInShelter)
    {
        <div class="col mb-4">
            <AnimalCard CurrentAnimal="animal" />
        </div>
    }
</div>


@code {

    private List<model.Animal> AnimalsInShelter = new List<model.Animal>();


    protected override async Task OnInitializedAsync()
    {
        AnimalsInShelter.Add(new model.Animal
        {
            Id = 1,
            Name = "Max",
            AnimalKind = model.AnimalKind.Dog,
            EstimatedAge = 1,
            PictureUrl = "https://cdn.pixabay.com/photo/2017/06/24/09/13/dog-2437110__340.jpg",
            Gender = model.Gender.Male
        });

        AnimalsInShelter.Add(new model.Animal
        {
            Id = 2,
            Name = "Kitty",
            AnimalKind = model.AnimalKind.Cat,
            DateOfBirth = new DateTime(2018, 01, 30),
            PictureUrl = "https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262__340.jpg",
            Gender = model.Gender.Female
        });

        AnimalsInShelter.Add(new model.Animal
        {
            Id = 3,
            Name = "Lucy",
            AnimalKind = model.AnimalKind.Dog,
            EstimatedAge = 2,
            PictureUrl = "https://cdn.pixabay.com/photo/2018/03/18/18/06/australian-shepherd-3237735__340.jpg",
            Gender = model.Gender.Female

        });

        AnimalsInShelter.Add(new model.Animal
        {
            Id = 4,
            Name = "Charlie",
            AnimalKind = model.AnimalKind.Dog,
            EstimatedAge = 3,
            PictureUrl = "https://cdn.pixabay.com/photo/2017/10/02/21/56/dog-2810484__340.jpg",
            Gender = model.Gender.Male

        });


        AnimalsInShelter.Add(new model.Animal
        {
            Id = 5,
            Name = "Simba",
            AnimalKind = model.AnimalKind.Cat,
            EstimatedAge = 1,
            PictureUrl = "https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720__340.jpg",
            Gender = model.Gender.Female
        });


        AnimalsInShelter.Add(new model.Animal
        {
            Id = 6,
            Name = "Sammy",
            AnimalKind = model.AnimalKind.Cat,
            EstimatedAge = 6,
            PictureUrl = "https://cdn.pixabay.com/photo/2017/03/14/14/49/cat-2143332__340.jpg",
            Gender = model.Gender.Male
        });

        try
        {
            var response = await Http.GetAsync("Animal");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }



    }


}
