@page "/productoverview"

@using model = AnimalShelterBlazorWA.Shared
@using System.Net
@using AnimalShelterBlazorWA.Client.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<h3>ProductOverview</h3>

<table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Vat %</th>
    <th>Net price</th>
    <th></th>
    </thead>
    <tbody>

        @foreach (var product in availableProducts)
        {
            <ProductListRow Product="product" OnProductDeleted="OnDeleteProduct"/>
        }

    </tbody>

</table>


<button class="btn btn-primary" @onclick="AddProduct">Add Product</button>


@code {

    [Inject]
    NavigationManager navigationManager { get; set; }
    
    [Inject]
    IProductService ProductService { get; set; }

    [Inject]
    IJSRuntime JsRuntime { get; set; }

    private List<model.Product> availableProducts = new List<model.Product>();

    protected override async Task OnInitializedAsync()
    {
        await GetAllProducts();
    }

    private async Task GetAllProducts()
    {
        availableProducts = await ProductService.GetAllProducts();
    }

    private void AddProduct()
    {
        navigationManager.NavigateTo("/ProductDetail");
    }

    private async Task OnDeleteProduct(model.Product product)
    {
        // Confirm
        var confirmed = await JsRuntime.InvokeAsync<bool>("animalshelterjavascriptfunctions.confirm", $"Are you sure you want to delete {product.Name}?");

        if (confirmed)
        {
            // Delete the animal
            await ProductService.Delete(product);

            // Get a new fresh list.
            await GetAllProducts();
        }
    }




}
